<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Mentions légales</h1> 
            <h4>Editeur :</h4>
            <p>
                <strong>Centre Français des Fonds et Fondations</strong>
                <br>
                34 bis, Rue Vignon
                <br>
                75009 Paris
                <br>
                France
                <br>
            </p>
            <h4>Conception graphique et réalisation technique :</h4>
            <p>
                <strong>Accenture</strong>
                <br>
                118, avenue de France
                <br>
                Paris, France , 75636 Cedex 13
            </p>
            <h4>Contenu du site :</h4>
            <p>
                L'ensemble de ce site relève de la législation française et internationale sur 
                le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction 
                sont réservés, y compris pour les documents téléchargeables et les représentations 
                iconographiques et photographiques. La reproduction de tout ou partie de ce site sur 
                un support électronique ou papier quel qu'il soit est formellement interdite sauf 
                autorisation expresse. Les marques citées sur ce site sont déposées par les sociétés 
                qui en sont propriétaires.
            </p>
            <h4>Données personnelles :</h4>
            <p>
                Les données personnelles collectées sur ce site sont destinées au Centre Français des Fonds et Fondations. Elles font l'objet d'un traitement informatisé.
                Conformément à la loi « Informatique et Libertés » du 6/01/1978 modifiée et au RGPD du 27/04/2016, un droit d'accès aux données, de rectification et d'opposition à leur traitement ou leur conservation peut être exercé par toute personne concernée.
                Ces droits peuvent être exercés par courriel ou par lettre recommandée adressée au Centre Français des Fonds et Fondations - 34 bis, Rue Vignon 75009 Paris - France 
            </p>
            <h4>Mise en garde générale :</h4>
            <p>
                Le Centre Français des Fonds et Fondations met tout en œuvre pour offrir aux utilisateurs du site des informations fiables. Cependant, malgré tous les soins apportés, le site peut comporter des inexactitudes, des défauts de mise à jour ou des erreurs. Le Centre Français des Fonds et Fondations se dégage de toute responsabilité en cas d'indisponibilité de certains services proposés sur le site.
                Nous remercions les utilisateurs du site de nous faire part d'éventuelles omissions ou erreurs, et de nous proposer des corrections.
            </p>
            <h4>Compatibilité navigateur :</h4>
            <p>
                Nous garantissons la compatibilité du site et de son administration avec les navigateurs suivants :
                Pour les autres navigateurs, nous ne pouvons garantir une présentation graphique et un fonctionnement identique.
            </p>
            <span class="icon-cta"><fa-icon [icon]="['fab', 'edge']" style="color:black"></fa-icon></span>
            <span class="icon-cta"><fa-icon [icon]="['fab', 'firefox']" style="color:black"></fa-icon></span>
            <span class="icon-cta"><fa-icon [icon]="['fab', 'chrome']" style="color:black"></fa-icon></span>
        </div>
    </div>
</div>
