<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-xl-4">
                <h1 class="display-4 font-italic">Agir face au Covid-19</h1>
                <p class="lead my-3">Le secteur de l’intérêt général se mobilise.</p>
                <p class="lead mb-0 font-weight-bolder">Pour lutter contre les conséquences de la pandémie, les fondations et les fonds de dotation s’engagent. Retrouvez leurs initiatives et soyez informés de leurs besoins</p>
            </div>
          </div>
        </div>
    </div>
    <hr/>
</div>

