<div class="container">
    <div class="jumbotron p-4 text-white rounded">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <h1 class="display-4 font-italic">Agir face à la crise du Covid-19</h1>
                <p class="lead my-3">Fondations et fonds de dotation se mobilisent : retrouvez ici leurs initiatives et soyez informés de leurs besoins</p>
                <!-- <p class="lead mb-0 font-weight-bolder">Pour lutter contre les conséquences de la pandémie, les fondations et les fonds de dotation s’engagent. Retrouvez leurs initiatives et soyez informés de leurs besoins</p> -->
            </div>
          </div>
        </div>
    </div>
    <hr/>
</div>

