// @media (min-width: 576px) {
//   .card-deck {
//     column-count: 2;
//     display: flex;
//     flex-flow: row wrap;
//     margin-right: -15px;
//     margin-left: -15px;
//   }
// }
// @media (min-width: 992px) {
//   .card-columns {
//     column-count: 3;
//   }
// }
.row>div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.block {
  display: flex !important;
  flex-flow: column;
  // border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  // height: 179px;
  // justify-content: center;
  // align-items: center;
}

.block:not(:last-child)::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
}
