<div class="card" *ngIf="initiative">
  <img class="card-img-top" src={{initiative.attachments[0].url}} alt="{{ initiative.structureName }} picture"
    *ngIf="initiative.attachments">

  <div class="card-body">
    <h5 class="card-title">{{ initiative.structureName }}</h5>
    <div class="card-subtitle mb-2">
      <h6 class="text-muted mb-1" *ngIf="initiative.initiativeType">
        Type d'initiative : {{initiative.initiativeType}}
      </h6>
      <h6 class="text-muted mb-1" *ngIf="initiative.amount">
        Montant: {{initiative.amount | currency:'EUR':'symbol':'2.0-2':'fr' }}
      </h6>
    </div>

    <p class="card-text" *ngIf="initiative.actionDescription">
      {{initiative.actionDescription}}
    </p>
    <p class="card-text" *ngIf="initiative.initiativeDescription">
      {{initiative.initiativeDescription}}
    </p>
    <p class="card-text" *ngIf="initiative.supportDescription">
      {{initiative.supportDescription}}
    </p>
    <a *ngIf="initiative.link" class="card-link" [href]="normalizeUrl(initiative.link)" target="_blank">En savoir
      plus</a>
  </div>
</div>
