<div class="liste-initiative">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4" *ngFor="let initiative of listeInitiatives">
        <app-vignette [initiative]="initiative"></app-vignette>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled': pageActions.getIndex() <= 0}">
        <a class="page-link" href="#" tabindex="-1" (click)="prev()">Précédent</a>
      </li>
      <li class="page-item" *ngFor="let pageRender of results; let i = index">
        <a class="page-link" href="#" (click)="setPageIndex(i)">{{i + 1}}</a></li>
      <li class="page-item" [ngClass]="{'disabled': pageActions.getIndex() >= results.length - 1}">
        <a class="page-link" href="#" (click)="next()">Suivant</a>
      </li>
    </ul>
  </nav>
</div>