<div class="container">
    <div class="row">
        <div class="col-12">
            <hr/>
            <div class="footer-wrapper">
                <div class="row">
                    <div class="col-12">
                        <p>
                            Cette page Actions fondations Covid19 a été éditée par le Centre français 
                            des Fonds et Fondations (CFF).
                        </p>
                        <p>
                            Le CFF a pour mission d'aider à la connaissance du secteur, d'en favoriser le développement
                             et vise à promouvoir une forte culture philanthropique en France, au service de toutes 
                             les causes d’intérêt général. Il accompagne, documente et renforce un secteur en pleine 
                             évolution, mutation et diversification.
                        </p>
                        <p>
                            Créé en 2002 sous forme d’association, le CFF accompagne et représente aujourd’hui un réseau
                             de 320 membres, représentant toute la diversité du secteur.
                        </p>
                        <p>                          
                            Suivez nous ! <a target="_blank" style="color:black" href="https://www.centre-francais-fondations.org/">
                                centre-francais-fondations.org
                            </a> / <a target="_blank" href=" https://www.facebook.com/CentreFrancaisFondations/?ref=bookmarks">
                                <fa-icon [icon]="['fab', 'facebook']" style="color:black"></fa-icon>
                            </a> / <a target="_blank" href="https://twitter.com/CFFondations">
                                <fa-icon [icon]="['fab', 'twitter']" style="color:black"></fa-icon>
                            </a> / <a target="_blank" href="https://www.linkedin.com/in/centre-fran%C3%A7ais-des-fonds-et-fondations">
                                <fa-icon [icon]="['fab', 'linkedin']" style="color:black"></fa-icon>
                            </a> / <a target="_blank" href="https://www.youtube.com/channel/UCrO0uwe50WstFugS54N57xw?view_as=subscriber">
                                <fa-icon [icon]="['fab', 'youtube']" style="color:black"></fa-icon>
                            </a>
                        </p>
                        <p>
                            Cette page a bénéficié du soutien de
                            <a target="_blank" style="color:black" href="https://www.accenture.com">
                                <img class="centered" src="../../../../assets/images/Acc_Logo_Black_Purple_RGB.PNG" alt="" height="25">
                            </a>
                        </p>
                        <p>
                            <a target="_blank" style="color:black" href="https://www.actions-fondations-covid19.org/cta">Mentions légales</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

